<app-header title="forgot-password"></app-header>

<ion-content [fullscreen]="true">

  <div class="d-flex-center">




    <form (ngSubmit)="submit()" [formGroup]="form" (keypres.enter)="submit()" class="auth-form">

      <app-logo></app-logo>

      
      <h4>Ingresa el correo asociado a tu cuenta</h4>
      <app-custom-input [autocomplete]="'email'" [control]="form.controls.email" [label]="'Email'" [type]="'email'"
        [icon]="'mail-outline'"></app-custom-input>

      <div class="validators"
        *ngIf="form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)">
        <div *ngIf="form.controls.email.errors?.['required']"> El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']"> Ingrese un correo valido</div>

      </div>


      <ion-button type="submit" [disabled]="!form.valid" expand="block" color="primary" mode="ios" class="submit">
        Enviar
      </ion-button>

    </form>

  </div>
</ion-content>