<app-header [showMenu]="true" title="Inicio"></app-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Cuadro de resumen de ventas -->
  <ion-card
    mode="ios"
    color="secondary"
    class="d-flex-center ion-text-center"
    *ngIf="!loading && products.length"
  >
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
