<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-card-header>
      <ion-card-subtitle>Email: {{email}} </ion-card-subtitle>
      <ion-card-title>Name: {{username}} </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-button expand="block" color="primary" mode="ios" routerLink="/main/profile/edit" fill="clear">
    Editar
  </ion-button>
</ion-content>